config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/tdviet/fedcloudclient:
      branch: master
      repo: https://github.com/tdviet/fedcloudclient.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/tdviet/fedcloudclient git:
        commands:
        - /usr/bin/env sh .sqa/script.randy-indigo-avocet.sh
        container: qc.acc_leaky-red-iguana
  QC.Doc:
    repos:
      github.com/tdviet/fedcloudclient find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-cardinal-mouse.sh
        container: qc.doc_woolly-dandelion-foxhound
      github.com/tdviet/fedcloudclient git:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-chartreuse-mammoth.sh
        container: qc.doc_woolly-tomato-tarantula
      github.com/tdviet/fedcloudclient markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-ruby-hedgehog.sh
        container: qc.doc_scaly-turquoise-macaw
      github.com/tdviet/fedcloudclient restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-aquamarine-anteater.sh
        container: qc.doc_pokey-peach-beetle
  QC.Lic:
    repos:
      github.com/tdviet/fedcloudclient licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-amber-hornet.sh
        container: qc.lic_homey-platinum-barb
  QC.Sec:
    repos:
      github.com/tdviet/fedcloudclient bandit:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-lime-newt.sh
        container: qc.sec_bumpy-yellow-shrew
  QC.Sty:
    repos:
      github.com/tdviet/fedcloudclient flake8:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-magenta-warthog.sh
        container: qc.sty_tasty-magnolia-buzzard
      github.com/tdviet/fedcloudclient hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.surly-scarlet-jackal.sh
        container: qc.sty_blurry-cinnamon-rottweiler
      github.com/tdviet/fedcloudclient jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-zucchini-gecko.sh
        container: qc.sty_slimy-charcoal-squid
  QC.Uni:
    repos:
      github.com/tdviet/fedcloudclient pytest:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-flax-quetzal.sh
        container: qc.uni_woozy-olivine-lion
  QC.Ver:
    repos:
      github.com/tdviet/fedcloudclient get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-amaranth-kingfisher.sh
        container: qc.ver_cloudy-platinum-otter
timeout: 5400
