config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/tdviet/fedcloudclient:
      branch: master
      repo: https://github.com/tdviet/fedcloudclient.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/tdviet/fedcloudclient git:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-white-beagle.sh
        container: qc.acc_cozy-wisteria-macaw
  QC.Doc:
    repos:
      github.com/tdviet/fedcloudclient find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-periwinkle-devil.sh
        container: qc.doc_skinny-teal-sheepdog
      github.com/tdviet/fedcloudclient git:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-magnolia-saola.sh
        container: qc.doc_geeky-ruby-grouse
      github.com/tdviet/fedcloudclient markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-sangria-shrew.sh
        container: qc.doc_droopy-plum-drever
      github.com/tdviet/fedcloudclient restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-jade-lemur.sh
        container: qc.doc_pretty-peach-fousek
  QC.Lic:
    repos:
      github.com/tdviet/fedcloudclient licensee:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-smalt-rabbit.sh
        container: qc.lic_seedy-harlequin-birman
  QC.Sec:
    repos:
      github.com/tdviet/fedcloudclient bandit:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-charcoal-boar.sh
        container: qc.sec_gimpy-eggplant-tapir
  QC.Sty:
    repos:
      github.com/tdviet/fedcloudclient flake8:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-cinnabar-lynx.sh
        container: qc.sty_pretty-lemon-ladybird
      github.com/tdviet/fedcloudclient hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-lavender-crocodile.sh
        container: qc.sty_greasy-amaranth-gecko
      github.com/tdviet/fedcloudclient jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-persimmon-spitz.sh
        container: qc.sty_sickly-smalt-octopus
  QC.Uni:
    repos:
      github.com/tdviet/fedcloudclient pytest:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-gamboge-antelope.sh
        container: qc.uni_goopy-firebrick-chimpanzee
  QC.Ver:
    repos:
      github.com/tdviet/fedcloudclient get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-myrtle-tapir.sh
        container: qc.ver_sloppy-taupe-audemer
timeout: 5400
